{% extends "bot/base.html" %}
{% load static %}
{% block content %}

<section>
    <div class="container mb-5 pb-5 mt-2 ">
        <div class="row">
            <div class="col-lg-12">
                <!-- Form Login -->
                <div class="card mx-auto" style="max-width: 380px;">
                    <div class="card-body">
                        <h3 class="card-title mb-4 text-center">Password Updated!</h3>

                        <p class="card-title mb-4 text-center">Your password has been changed successfully.
                            <br>
                            Use your new password to
                            <a href="#">Login .</a>

                        </p>
                    </div>
                    <!-- card-body.// -->
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}